.presentationContent{
    position: relative;
    display: flex;
background-color: #e4ebf2;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.presentationContent::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    opacity: 0.90; 
    height: 100vh;
}

h3{
    position: relative;
    font-size: 2.5rem;
    text-align: center;
    line-height: 0.9;
    margin-top: 3rem;
  -webkit-text-stroke: 1px #8C5B3E;
   color: #000000;;
}
.explainContent{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.explainContent .textPresentation, .regButton{
    position: relative;
    margin-top: 2rem;
    font-weight: bold;
  -webkit-text-stroke: 1px #8C5B3E;
  text-align: center;
    color: #000000;
    font-size: 1.8rem;

}

.regButton{
    background-color: #D9A362;
    width: 15rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}