.resultsContent{
    margin-top: 5rem;
}
.booksContent{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.bookImg{
    width: 50%;
    height: 100%;
}
.bookTitle, .bookYear, .bookAuthor{
    color: #8C5B3E;
}
.bookDescription{
    color: #D9A362;
}